<!-- <ion-view view-title="Scan QR Code" hide-back-button="true">
    <ion-content class="padding qrcode">
     <div style="width: 190px;margin: auto; position: relative; top: 40%; transform: translateY(-50%);">
            <masterpass-qr transinfo="transInfo" style="background: white; ">
            	
            </masterpass-qr>
            <br>
           <p style="color: white;text-align: center">Scan QR Code</p>
        </div>
       <div>
       	
       	<img src="live_qr.PNG">

       </div>
      <p>Merchant ID:</p>
      <p>Business</p>

        

    </ion-content>
    <ion-footer>
    <a class="button button-block" href="#/register" style="background: white">Home</a>
    <!-- <button class="button button-block">Hello</button> -->
<!--     </ion-footer>

</ion-view> --> -->


<ion-view view-title="Scan QR Code">


    <ion-content class="padding qrcode">

       <div style="height: 150px;width: 200px;margin: 0 auto">
       	<img src="img/masterpass.png" style="height: 125px;">
       </div>

       <h3 style="color: white;text-align: center">Simply Scan to pay</h3>
       <br>
       
  
       <div style="height: 200px;width: 200px;margin: 0 auto">
       	
       	<img src="img/live_qr.PNG" style="margin-left: -20px">

       </div>

       <br>
       <br>
       <br>
      <p style="color: white;text-align: center">Merchant ID: {{randi}}</p>
      <p style="color: white;text-align: center">Business Name: {{merchantName}}</p>

    
 <a class="button button-block" href="#/email" style="color:white;background: #ea001b">Send Email</a>

      <br>

        

    </ion-content>


</ion-view>
